* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input[type="submit"] {
    display: block;
}

span {
    display: block;
}

li {
    list-style: none;
}

.line-through {
    text-decoration: line-through;
}

input[type='checkbox']:checked ~ label {
    text-decoration: line-through;
}

.visibility-visable {
    visibility: visible; 
}

.visibility-hidden {
    visibility: hidden; 
}

.display-none {
    display: none;
}

@import "./login";
@import "./todo";